extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Pet
      form(action="#" id="new-pet", method="post")
        .form-group
            label(class="red-asterisk") Name
            input.form-control(name="name" required)
        .form-group
            label(class="red-asterisk") Birthday
            input.form-control(name="birthday" required)
        .form-group
            label(class="red-asterisk") Species
            input.form-control(name="species" required)
        .form-group
            label(class="red-asterisk") Price
            textarea.form-control(name="price" required type="number")
        .form-group
            label(class="red-asterisk") Avatar
            input.form-control(name="avatar" type="file" required)
        .form-group
            label(class="red-asterisk") Favorite Food
            input.form-control(name="favoriteFood" required)
        .form-group
            label(class="red-asterisk") Description
            textarea.form-control(name="description" required minlength="140")
        button(type="submit").btn.btn-primary Save
